* {
    box-sizing: border-box;
}
body{
    width: 1920px;
    height: 723px;
}
.block {
    /* Style for "Прямоуголь" */
width: 1920px;
height: 723px;
background-color: #f9f9f9;
display: flex; 
justify-content: center;
align-items: center; 
}
h1 {
    /* Style for "Инструмент" */
position: absolute;
height: 31px;
color: #000000;
font-size: 36px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
left: 683px;
top: 100px;
align-self: flex-start; 
/* Text style for "И, нструме" */
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
 }

span {
color: #000000;
font-size: 18px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
/* Text style for "от 400 руб" */
margin-top: 22px;
margin-bottom: 24px;
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
align-items: center;
}

button {
    /* Style for "Прямоуголь" */
width: 200px;
height: 55px;
border: 1px solid #23bac1;
color: #23BAC1;
margin-top: 24px;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto

}
.knife1 {
    /* Style for "Прямоуголь" */
width: 263px;
height: 210px;
background-color: #ffffff;
margin right: 30px;
}
.knife2 {
    /* Style for "Прямоуголь" */
width: 263px;
height: 210px;
background-color: #ffffff;
margin: 30px;
}
.carpet {
    /* Style for "Прямоуголь" */
width: 263px;
height: 210px;
background-color: #ffffff;
margin: 30px;
}
.ruler {
    /* Style for "Прямоуголь" */
width: 263px;
height: 210px;
background-color: #ffffff;
margin: 30px;
}
p {
text-align: center;
}